<extend name="Common/edit"/>

<block name="form">
    <div id="tabbody-div">
        <form action="{:U()}" method="post">
            <table width="90%" id="general-table" align="center">
                                    <tr>
                        <td class="label">品牌名称</td>
                        <td>
                            <input type='text' name='name' value='{$name}' size='30' />                        </td>
                    </tr>
                                    <tr>
                        <td class="label">品牌网址</td>
                        <td>
                            <input type='text' name='url' value='{$url}' size='30' />                        </td>
                    </tr>
                                    <tr>
                        <td class="label">品牌LOGO</td>
                        <td>
                            <input type='file' name='logo'>                        </td>
                    </tr>
                                    <tr>
                        <td class="label">排序</td>
                        <td>
                            <input type='text' name='sort' value='{$sort|default=10}' size='30' />                        </td>
                    </tr>
                                    <tr>
                        <td class="label">品牌简介</td>
                        <td>
                            <textarea  name='intro' cols='60' rows='4'>{$intro}</textarea>                        </td>
                    </tr>
                                    <tr>
                        <td class="label">状态</td>
                        <td>
                            <input type='radio' name='status' value='1' class='status'/> 是<input type='radio' name='status' value='0' class='status'/> 否                        </td>
                    </tr>
                            </table>
            <div class="button-div">
                <input type="hidden" value="{$id}" name="id"/>
                <input class="ajax-post button" type="submit" value=" 确定 "/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</block>
