<extend name="Common/edit"/>

<block name="css">
    <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css">
</block>

<block name="form">
    <div id="tabbody-div">
        <form action="{:U()}" method="post">
            <table width="90%" id="general-table" align="center">
                <tr>
                    <td class="label">分类名称</td>
                    <td>
                        <input type='text' name='name' value='{$name}' size='30'/></td>
                </tr>
                <tr>
                    <td class="label">父分类</td>
                    <td>
                        <input type="hidden"  class="parent_id" name="parent_id" value="0">
                        <input type='text' name='parent_name' class="parent_name" value='默认为顶级分类' disabled="disabled" size='30'/></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        <style type="text/css">
                            .ztree{
                                margin-top: 10px;
                                border: 1px solid #617775;
                                background: #f0f6e4;
                                width: 220px;
                                height: auto;
                                overflow-y: scroll;
                                overflow-x: auto;
                            }
                        </style>
                        <ul id="treeDemo" class="ztree"></ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">分类简介</td>
                    <td>
                        <textarea name='intro' cols='60' rows='4'>{$intro}</textarea></td>
                </tr>
                <tr>
                    <td class="label">是否显示</td>
                    <td>
                        <input type='radio' name='status' value='1' class='status'/> 是<input type='radio' name='status'
                                                                                             value='0' class='status'/>
                        否
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="hidden" value="{$id}" name="id"/>
                <input class="ajax-post button" type="submit" value=" 确定 "/>
                <input type="reset" value=" 重置 " class="button"/>
            </div>
        </form>
    </div>
</block>
<block name="javascript">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript">

        $(function(){
            //树状结构设置
            var setting = {
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id"
                    }
                },
                callback:{
                    /**
                     * event： js event 对象 标准的 js event 对象
                     * treeId： String对应 zTree 的 treeId，便于用户操控
                     * treeNode： JSON 被点击的节点 JSON 数据对象
                     */
                    onClick:function(event, treeId, treeNode){
                        console.debug(treeNode);
                        $('.parent_name').val(treeNode.name);
                        $('.parent_id').val(treeNode.id);
                    }
                }
            };

            //树状数据设置
            var zNodes = {$zNodes};


            //将ul编程树结构
            var treeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            <empty name='id'>
                treeObj.expandAll(true);
            <else/>
                var parent_id = {$parent_id}
            //根据parent_id找到要选中的节点id
                var node = treeObj.getNodeByParam('id',parent_id);
                treeObj.selectNode(node);
            //将name和id放入text表单中
                $('.parent_name').val(node.name);
                $('.parent_id').val(node.id);
            </empty>
        });

    </script>
</block>
